.product {
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
}
.product img {
  width: 270px;
  height: 240px;
}

.product .prices label {
  flex: 1;
}

.product .total {
  font-size: 20px;
}

.product .price {
  font-size: 15px;
}

.product .cart {
  border: 1 px solid;
  border-radius: 5px;
  background-color: #00bbf9;
}

.product .controls {
  display: flex;
}

.product .controls .qt-picker {
  flex: 3;
}
